@use "animation";
@use "themes/dark";
@use "themes/light";

@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt, #__layout {
  height:100%!important;
  width: 100%!important;
}

@layer components {
  .input {
    @apply border-sm rounded-md;
    @apply focus:outline-none;
    @apply px-4 py-2;
  }

  .gradient {
    @apply bg-gradient-to-bl from-accent-main to-accent-secondary;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-bl from-accent-main to-accent-secondary;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.text-muted {
  @media (prefers-color-scheme: dark) {
    --tw-text-opacity: 1;
    color: rgb(var(--color-gray-400) / var(--tw-text-opacity, 1));
  }
  @media (prefers-color-scheme: light) {
    --tw-text-opacity: 1;
    color: rgb(var(--color-gray-500) / var(--tw-text-opacity, 1));
  }
}
